*{
	margin:0;
	padding: 0;
}

body{
	font-size: 16px;
	font-family: "Trebuchet Ms", sans-serif;
	background-color: #f3f3f3; 
}

.cabecalho{
	border-bottom: 1px solid #d8d8d8;
	height: 45px;
	top: 0;
}

.apresentacao {
    width: 100%;
	overflow:hidden;
	background: url('../img/apresentacao.jpeg') top no-repeat;
    background-position: center;
    opacity: 0.8;
	padding-top: 20%;
}

.menu ul {
    list-style-type: none;
    border: 1px solid #C0C0C0;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #dddddd;
}

li a {
    float: left;
    display: block;
    padding: 15px;
    color: white;
    padding: 1% 7%;
    margin-left: 1%;
    text-align: center;
    text-decoration: none;
}

.menu {
    padding: 0.1% 0%;
}

.verde {
	color: green;
}

#logo {
	float: left;
    padding-left: 15%;
}

a:link{
	color: #838383;
}

a:visited{
	color: #838383;
}

a:hover{
	background: #EAAE37;
	color: #fff;
    opacity: 0.8;
}

a:active{
	color: #4CAF50;
}
